body{
	margin:0px auto;
	width:1200px;
	display:grid;
	grid-template-columns: auto auto;
	grid-template-rows:auto auto;
	background-color: white;
}

.header{
	margin:0;
	padding:1px;
	background-color: #383737;
	grid-column-start: 1; 
	grid-column-end: 3;
	
}

.leftbar{
	background-color: #f2f2f2;
	padding-top:15px;
	padding-left:30px;
	height:770px;
	width: 150px;
	position: static;
}

h5{
	margin: 10px;
	color: white;
}

.content{
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 30px;
	background-color: white;
	position: absolute;
	margin-top: 40px;
	margin-left: 40%;
	width: 100%;
}

.box, select{
	width: 60%;
	border-width: 1px;
	border: 1px solid default;
	background-color: #f2f2f2;
	padding: 5px;
	border-radius: 3px
}

img{
	width:15px;
}

a{
	padding-left:10px;
}

.content h2{
	margin: auto;
	font-family: sans-serif;
	font-size: 30px;
	position: absolute;
	text-align-last: left;
}

.button{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	background-color: limegreen;
	color: white;
	border-radius: 8px;
	text-align: center;
	width: 30%;
	padding: 12px 28px;
	font-size: 16px;
	float: right;
	cursor: pointer;
}
